fluxo_n8n_chatwoot.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-ai-webhook",
        "options": {}
      },
      "id": "1",
      "name": "Webhook do Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"event\"]}}",
              "value2": "message_created"
            },
            {
              "value1": "={{$json[\"body\"][\"message_type\"]}}",
              "value2": "incoming"
            }
          ]
        }
      },
      "id": "2",
      "name": "É mensagem de paciente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [350, 300]
    },
    {
      "parameters": {
        "url": "=https://n8n-wpp-chatwoot.syzsf4.easypanel.host/api/v1/accounts/1/conversations/{{$node[\"Webhook do Chatwoot\"].json[\"body\"][\"conversation\"][\"id\"]}}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "c8NHaaZDwjnjvLGeg1RRed1C"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Checar Etiquetas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 280]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{JSON.stringify($json.payload)}}",
              "value2": "atendimento_ia",
              "operation": "contains"
            }
          ]
        }
      },
      "id": "4",
      "name": "IA Assumiu a Conversa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 280]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook do Chatwoot\"].json[\"body\"][\"attachments\"][0][\"file_type\"]}}",
              "value2": "audio"
            }
          ]
        }
      },
      "id": "10",
      "name": "Tem Áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 280]
    },
    {
      "parameters": {
        "url": "={{$node[\"Webhook do Chatwoot\"].json[\"body\"][\"attachments\"][0][\"data_url\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "11",
      "name": "Baixar Áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1350, 150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer COLOQUE_SUA_CHAVE_AQUI"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data:file",
        "options": {}
      },
      "id": "12",
      "name": "Whisper (Transcrever)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1600, 150]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt_text",
              "value": "={{$json[\"text\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "13",
      "name": "Set Texto (Áudio)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1850, 150]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt_text",
              "value": "={{$node[\"Webhook do Chatwoot\"].json[\"body\"][\"content\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "14",
      "name": "Set Texto (Normal)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1350, 350]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Você é a assistente virtual inteligente da Aliada Clínica. Responda de forma gentil, curta e direta as dúvidas do paciente."
            },
            {
              "role": "user",
              "content": "={{$json[\"prompt_text\"]}}"
            }
          ]
        }
      },
      "id": "5",
      "name": "ChatGPT OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [2150, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n-wpp-chatwoot.syzsf4.easypanel.host/api/v1/accounts/1/conversations/{{$node[\"Webhook do Chatwoot\"].json[\"body\"][\"conversation\"][\"id\"]}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "c8NHaaZDwjnjvLGeg1RRed1C"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{$json[\"message\"][\"content\"]}}\",\n  \"message_type\": \"outgoing\"\n}",
        "options": {}
      },
      "id": "6",
      "name": "Responder no Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 260]
    }
  ],
  "connections": {
    "Webhook do Chatwoot": {
      "main": [
        [
          {
            "node": "É mensagem de paciente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É mensagem de paciente?": {
      "main": [
        [
          {
            "node": "Checar Etiquetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Etiquetas": {
      "main": [
        [
          {
            "node": "IA Assumiu a Conversa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Assumiu a Conversa?": {
      "main": [
        [
          {
            "node": "Tem Áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Áudio?": {
      "main": [
        [
          {
            "node": "Baixar Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Texto (Normal)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio": {
      "main": [
        [
          {
            "node": "Whisper (Transcrever)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper (Transcrever)": {
      "main": [
        [
          {
            "node": "Set Texto (Áudio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto (Áudio)": {
      "main": [
        [
          {
            "node": "ChatGPT OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Texto (Normal)": {
      "main": [
        [
          {
            "node": "ChatGPT OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT OpenAI": {
      "main": [
        [
          {
            "node": "Responder no Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
